/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  max-width: 90%;
  margin-bottom: 1em;
  font-family: $global-font-family;
  font-size: $type-size-5;
  border-collapse: collapse;
  border:none;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $lighter-gray;
}

th {
  font-weight: bold;
  text-align: left;
  padding-bottom: 10pt;
  padding-right: 14pt;
  padding-top: 14pt;
}

td {
  padding-bottom: 10pt;
  text-align:left;
}

tr, td, th {
  vertical-align: text-top;
}
