<div class="events-content" itemscope itemtype="https://schema.org/Article">
    <meta itemprop="publisher" content="David W. Kastner" />
    <meta itemprop="author" content="David W. Kastner" />
    <ol>
        <li *ngFor="let post of _posts" itemprop="techArticle" itemscope itemtype="https://schema.org/TechArticle">
            <div class="card" [@fadeInOut] itemprop="item">
                <a href="{{ post.http }}" rel="nofollow" target="_blank" itemprop="url">
                    <div class="thumbnail" [style.backgroundImage]="'url('+post.thumbnail+')'">
                        <meta itemprop="thumbnailUrl" content="{{ post.thumbnail }}" />
                        <meta itemprop="image" content="{{ post.thumbnail }}" />
                        <span class="date" itemprop="datePublished">{{ post.date | safariDateFormatter |
                            localizedDate:'MMM yyyy' }}</span>
                    </div>
                    <div class="content">
                        <meta itemprop="author" content="David W. Kastner" />
                        <meta itemprop="creator" content="David W. Kastner" />
                        <meta itemprop="publisher" content="David W. Kastner" />
                        <h2 class="title" appInternationalization [data]="post.internationalizations" property='title'
                            itemprop="name" itemprop="headline">Loading...</h2>
                        <p class="description" appInternationalization [data]="post.internationalizations"
                            property='journal' ellipsis='275' itemprop="description">Loading...</p>
                        <p class="description" appInternationalization [data]="post.internationalizations"
                            property='description' ellipsis='275' itemprop="description">Loading...</p>
                    </div>
                    <button class="read-more" i18n="posts@@readMore">Publisher</button>
                </a>
            </div>
        </li>
    </ol>
</div>