<div class="dialog-container">
    <img loading="lazy" src="./assets/template/welcome/substrate.png" alt="Substrate" />
    <div class="console">
        <!-- <p class="hello" i18n="dialog@@hello">Hello!</p>
        <span class="txt-rotate" appTypingAnimation [phrasePeriod]="2000" [startDelay]="1500" [typeSpeed]="200" [data]='[
                {
                    "language": "es",
                    "phrases": [ "Me llamo David.", "Bien venidos a mi sitio.", "Siguen abajo para conocerme" ]
                },
                {
                    "language": "en",
                    "phrases": [ "My name is David.", "Welcome to my Site.", "Scroll to see how I can help." ]
                }
            ]'></span> -->
    </div>
</div>